/* Color Scheme:
Dark Blue: #02111B
Gray: #3F4045
coffee brown: #30292F
Cadet: #5D737E
*/

body {
    margin: 0px;
    font-family: 'Uchen', serif;
}

.nav-bar {
    background-color: #02111b;
    color: white;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-column {
    display: flex;
    align-items: center;
    padding-left: 100px;

}

.left-column > .phone-hours-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 8px;
}

.icon i {
    margin-right: 12px;
    color: #5D737E;
    font-size: 2em;
}

.phone-hours-wrapper {
    color: white;
}

.link {
    text-decoration: none;
}

.address-wrapper {
    padding-right: 100px;
}
